<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Game of Life</title>
	<link rel="stylesheet" href="css/style.css">
	<script src="js/angular/angular.js"></script>
	<script src="js/app.js"></script>
	<script src="js/GameController.js"></script>
</head>
<body ng-app="gameOfLife">
	<div ng-controller="GameController as game">
		<div class="row" ng-repeat="row in game.gameBoard">
			<button ng-class="{alive: square.alive}" ng-repeat="square in row" ng-click="game.killOrRevive($parent.$index,$index)">
				
			</button>
		</div>
		<div id="buttons">
			<button class ="command" ng-click="game.toggleLife()">{{game.promise ? "Stop" : "Start"}}</button>
		</div>
	</div>
</body>
</html>