
    <h1><%= @painting.name %></h1>


          <h2>This was painted by the super awesome artist, <%= @painting.artist %></h2>
          <p>This person is super talented and is a really swell guy/gal!</p>

          <h2>Wow! It was painted in <%= @painting.year %></h2>
          <p>We keep detailed records of all paitings that we sell. If you're interested in learning about a paiting's history, then we've got you covered!</p>


          <h2>Got tons of money? Buy it now!</h2>
          <p>Shop through a wide selection of pieces of art. We offer the finest art in the world. As our tagline goes: "We're not too expensive, you're too cheap."</p>

    <!-- Site footer -->
      <footer>
        <p>Company 2015</p>
      </footer>